@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 60px; /* Height reduced to the size of the icon */
  width: 4.5rem;
  /* background: #11101D; */
  background-color: rgba(17, 16, 29, 0.6);
  backdrop-filter: blur(8px);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open {
  height: 100%; 
  width: 15.5rem;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.25s ease;
}

.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  text-align: center;
  cursor: pointer;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
  overflow: hidden;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.4s ease;
  color: #11101D;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.home-section {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  z-index: 0;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

/* Variables */
:root {
	--primary: rgb(0,0,0);
	--business: #3a82ee;
	--personal: #EA40A4;
	--grey: #888;
	--danger: #ff5b57;

	--shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
	
	--light: #eff2fc;
	--dark: #000000;

	--popup-green: rgb(15, 255, 80);
	--popup-red: rgb(255, 0, 0);
	
}
/* End of Variables */
.dark-theme {
	--light: #000000;
	--dark: #eff2fc;
}
/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}
/* End of Resets */

body {
	background: var(--light);
	color: var(--dark);
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.save-popup h2 {
	font-size: 15px;
}

.save-popup {
    display: none;
    background-color: var(--popup-green);
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 5%; /* Start off-screen from the top */
    transform: translate(-50%, 0);
    padding: 0.75rem 2rem;
    border-radius: 20px;
    width: 27rem;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    box-shadow: var(--shadow);
}

.show {
    display: flex;
    animation: slideIn 0.25s ease-out;
}

.showclockpops {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	animation: slideIn 0.25s ease-out;
}

@keyframes slideIn {
    0% {
        transform: translate(-50%, -100%); /* Start position */
    }
    100% {
        transform: translate(-50%, 0); /* End position */
    }
}


h3 {
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.greeting .title {
	display: flex;
}

.greeting {
	margin-top: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icons img {
	cursor: pointer;
}

.settings-container {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
	display: none;
	padding: 1rem;
    background-color: white;
	border: 1px solid black;
	box-shadow: var(--shadow);
	border-radius: 15px;
	z-index: 2;
}

.settings-container hr {
	margin-top: 10px;
}

.settings-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.settings-bar img {
	cursor: pointer;
}

.greeting .title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.greeting .title, 
.greeting .title input {
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 700;
}

.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--primary);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}

.create-todo .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFF;
	padding: 1.5rem;
	box-shadow: var(--shadow);
	border-radius: 0.5rem;
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--business);
	box-shadow: var(--business-glow);
}

.bubble.personal {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--business);
	box-shadow: var(--business-glow);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.create-todo .options label div {
	color: var(--primary);
	font-size: 1.125rem;
	margin-top: 1rem;
}

.create-todo input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.create-todo input[type="submit"]:hover {
	opacity: 0.75;
}

.todo-list .list {
	margin: 1rem 0;
}

#todo-list {
	overflow-y: auto;
	max-height: 30rem;
	scrollbar-width: none;
}

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.list-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list-bar .clear-all {
	background-color: var(--danger);
	border-radius: 0.25rem;
	padding: 0.5rem;
	cursor: pointer;
	color: white;
}

.confirm-clear {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 30%;
	display: none;
	padding: 1rem;
    background-color: white;
	border: 1px solid black;
	box-shadow: var(--shadow);
	border-radius: 15px;
	z-index: 2;
}

.ccb {
	margin-top: 15px;
	margin-left: 15px;
	cursor: pointer;
}

.confirm-clear hr {
	margin-top: 5px;
}

.confirm-clear p {
	margin-top: 15px;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content {
	flex: 1 1 0%;
}

.todo-item .todo-content input {
	color: var(--primary);
	font-size: 1.125rem;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions img {
	display: block;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions img:hover {
	opacity: 0.6;
}

.todo-item .actions .edit {
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .actions .note {
	margin-left: 1rem;
	cursor: pointer;
}

.delete {
	cursor: pointer;
}

.delete:hover {
	opacity: 0.6;
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: var(--grey);
}

.note-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
	display: none;
	padding: 1rem;
    background-color: white;
	border: 1px solid black;
	box-shadow: var(--shadow);
	border-radius: 15px;
	z-index: 2;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
	display: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
}
.close-note, .save-note {
	background-color: var(--primary);
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.note-data {
	display: block;
	margin-bottom: 0.5rem;
	border: 1px solid black;
    overflow: auto;
    outline: none;
	padding: 0.5rem;
	font-size: 18px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h6 {
	margin-right: 3rem;
	color: var(--primary);
}

.selection {
	width: 20%;
	padding: 5px;
	height: 7vh;
	border-radius: 0.25rem;
	margin-bottom: 1.5rem;
}

.priority-label {
	margin: 0px 4.5rem;
	border: 1px solid black;
	font-size: 14px;
	padding: 0.5rem;
	border-radius: 20px;
}

.todo-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.todo-content input {
	width: 100%;
}

.clock-btns-container {
	margin-top: 4rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.clock-btns-container button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFF;
	padding: 1.5rem;
	box-shadow: var(--shadow);
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 18px;
}

.worklog-bar h3 {
	font-size: 1.25rem;
}

.history {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(221,221,221);
	padding: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #000;
	text-align: center;
	padding: 8px;
	color: black;
}

th {
	background-color: #f2f2f2;
}

#downloadPDF {
	cursor: pointer;
	color: var(--dark);
}

.hdr {
	color: black;
}
